@tailwind base;
@tailwind components;
@tailwind utilities;

html { border: none !important; }
body { margin: 0 !important; }

/* Hide logo SVG without impacting layout */
.logo-hidden { visibility: hidden; }
